.homePage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 80px);
  padding: 40px;
  background-color: var(--hover-brown-color);
}

.message {
  flex: 1;
  text-align: left;
  padding-right: 20px;
}

.siteName {
  font-size: 4rem;
  font-weight: bold;
  color: var(--main-text-color);
  margin-bottom: 0px;
  width: fit-content;
  cursor: pointer;
  transition: color 0.3s ease;
}

.siteName:hover {
  color: var(--brown-color);
}

.tagline {
  font-size: 1rem;
  color: var(--text-color);
  max-width: 600px;
  line-height: 1.6;
  padding: 12px 20px;
  padding-left: 0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.message a{
    background-color: var(--brown-color);
    font-size: 18px;
    color: white;
    padding:7px 15px;
    border-radius: 7px;
    transition: .4s;
}

.message a:hover{
    background-color: var(--dark-brown-color);
}

.image {
  position: relative;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  animation: float 3s ease-in-out infinite;
  cursor: no-drop;
  position: relative;
}

.image .feckShadow {
  position: absolute;
  width: 300px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.25);
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  border-radius: 50%;
  filter: blur(12px);
}

@media (width <= 992px) {
    .image{
        display: none;
    }
    .message {
        flex: 1;
        text-align: center;
        padding-right: 20px;
    }
    .nameContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .message{
        padding: 0;
    }
    
    .tagline {
    padding: 10px 0;
    }
}

@media (width <=768px) {
    .message{
        padding: 0;
    }

    .siteName {
    font-size: 2.5rem;
    }

    .tagline {
    font-size: .7rem;
    padding: 10px 0;
    }

    .message a{
        font-size: 14px;
    }
}


/* Animation for smooth floating effect */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
