.all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 80px) !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 30px 25px;
  background: var(--main-background-color);
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--dark-brown-brown);
  text-align: center;
  margin-bottom: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.btn {
  width: 40%;
  background: var(--brown-color);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn span,
.btn path {
  color: var(--main-background-color);
}

.btn span {
  margin-right: 10px;
}

.btn:hover {
  background: var(--dark-brown-color);
}

.btn:hover svg {
  animation: vibration 2s linear infinite alternate;
}

@keyframes vibration {
  10%,
  15%,
  30%,
  50%,
  80% {
    transform: translateX(5px);
  }
  0%,
  40%,
  60%,
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 300px;
    padding: 20px 15px;
    border-radius: 12px;
  }

  .title {
    font-size: 1.2rem;
  }

  .input,
  .btn {
    font-size: 0.8rem;
    padding: 10px;
  }
}
