.navBar {
  height: 75px;
  padding:10px 20px 10px 0px;
  border-bottom: 2px solid var(--text-color);
  background-color: var(--main-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstSide {
  display: flex;
  align-items: center;
  gap: 20px;
}

.openCloseBtn {
  cursor: pointer;
  width: 40px;
  padding: 5px 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  background-color: var(--brown-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.openCloseBtn:hover {
  background-color: var(--dark-brown-color);
  transform: scale(1.05);
}

.openCloseBtn svg path{
    color: white;
}

.Breadcrumbs p{
  font-size: 19px;
}

.Breadcrumbs a{
  font-size: 16px;
  color: var(--text-color);
}

.secondSide {
  display: flex;
  align-items: center;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--main-hover-color);
  border: 1px solid var(--light-brown-color);
  border-radius: 5px;
  padding:10px;
  height: 38px;
}

.input input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: var(--text-color);
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  padding-left: 5px;
  width: 100%;
}

.SearchIcon {
  color: var(--brown-color);
  font-size: 18px;
  border-right: 2px solid var(--light-brown-color);
  padding-right: 5px;
}

@media (width <= 992px) {
  .navBar {
    height: 60px;
    padding:5px 7px;
  }

  .firstSide {
    gap: 0px;
  }

  .openCloseBtn {
    display: none;
  }

  .Breadcrumbs p{
    font-size: 17px;
  }

  .Breadcrumbs a{
    font-size: 13px;
  }

  .input {
    height: 35px;
    padding: 5px;
  }

  .input input {
    font-size: 13px;
  }

  .SearchIcon {
    padding-right: 3px;
  }
}

@media (width <= 500px){
  .Breadcrumbs p{
    font-size: 12px;
  }

  .Breadcrumbs a{
    font-size: 11px;
  }

  .input{
    width: 120px;
  }

  .SearchIcon svg{
    width:.7em;
  }
}