.footer{
    position: sticky;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--brown-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    color:  white;
}

.footer span{
    color: whitesmoke;
}

@media (width <= 768px) {
    .footer p{
        font-size: 12px;
    }
}