@import "tailwindcss";

@font-face {
  font-family: "TaskOrbitFont";
  src: url("./assets/fonts/AlanSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "TaskOrbitFont";
  color: var(--text-color);
}

:root {
  --main-background-color: #fcf1e4;
  --main-hover-color: #f3e7d9;
  --brown-color: #a67443;
  --dark-brown-color: #865d37;
  --light-brown-color: #b78854;
  --hover-brown-color: #eddac3;
  --text-color: #93673e;
}

.pages {
  background-color: var(--hover-brown-color);
  width: 100%;
  height: calc(100dvh - 80px);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li .active {
  color: var(--brown-color);
}

ul li .active span {
  color: var(--brown-color);
}

ul li .active path {
  color: var(--brown-color);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--hover-brown-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-brown-color);
  border-radius: 10px;
}

input,
textarea {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus {
  border-color: var(--brown-color);
  box-shadow: 0 0 0 3px rgba(138, 90, 59, 0.15);
}

.nav {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1000;
}

.content {
  width: 100%;
  /* height: calc(100%); */
}

/*start task table */

.hide-container {
  margin-top: 10px;
  padding: 10px;
}

.hidden-tasks .title {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  text-wrap: nowrap;
}

.MuiChip-label {
  color: white !important;
}

.MuiButtonBase-root {
  cursor: pointer !important;
}

.MuiDataGrid-scrollbarContent {
  height: 4px !important;
}

.MuiDataGrid-scrollbar {
  height: 4px !important;
}
/*end task table */

/* start SweetAlert2 */

.swal2-popup {
  width: 90% !important;
  max-width: 400px !important;
  font-size: 0.9rem !important;
  border-radius: 12px !important;
}

.swal2-title {
  font-size: 1.1rem !important;
  line-height: 1.5 !important;
  color: var(--text-color) !important;
}

.swal2-html-container {
  font-size: 0.8rem !important;
  color: var(--brown-color) !important;
}

.swal2-actions .btn {
  min-width: 100px;
  padding: 8px 14px;
  font-size: 0.9rem;
  border-radius: 8px;
}

@media (max-width: 786px) {
  .swal2-popup {
    width: 80% !important;
  }

  .swal2-title {
    font-size: 1rem !important;
  }

  .swal2-html-container {
    font-size: 0.7rem !important;
  }

  .swal2-actions {
    flex-direction: column !important;
    gap: 10px;
  }

  .swal2-actions .btn {
    width: 100%;
    font-size: 0.8rem;
  }

  .swal2-icon {
    width: 4em !important;
    height: 4em !important;
  }

  .swal2-icon-content {
    font-size: 2.5rem !important;
  }
}

/* end SweetAlert2 */

/* start charts */
.charts{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(500px , 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.chartContainer {
  background-color: #fff;
  border: 1px solid var(--text-color);
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(166, 116, 67, 0.15);
  transition: 0.3s ease;
  width: 100%;
  height: 100%;
  min-height: 350px;
  animation: fadeInUp 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
margin-bottom: 20px;
cursor: pointer;
}

.chartContainer h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}

.chartContainer:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(166, 116, 67, 0.25);
}

/* Responsive */
@media (max-width: 992px) {
  .chartContainer {
    padding: 20px;
  }
  .chartContainer h2 {
    font-size: 1.2rem;
  }
  .recharts-legend-wrapper {
    bottom: -5px!important;
  }
  .recharts-cartesian-axis-ticks{
    margin-top: 10px !important;
  }
}

@media (max-width: 768px) {
  .chartsGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .chartContainer h2 {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .recharts-layer,
  .recharts-cartesian-grid {
    width: 100%;
  }
  .recharts-default-legend {
    font-size: .8rem;
  }

  .recharts-default-legend .recharts-legend-item {
    margin-right: 0 !important;
    margin-bottom: 3px;
  }
}

@media (max-width: 480px) {
  .chartsGrid {
    grid-template-columns: 1fr;
  }
  .chartContainer {
    padding: 15px;
  }
  .chartContainer h2 {
    font-size: .8rem;
  }
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* end charts */