@import "tailwindcss";

@font-face {
  font-family: "TaskOrbitFont";
  src: url("./assets/fonts/AlanSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "TaskOrbitFont";
  color: var(--text-color);
}

:root{
  --main-background-color:#fcf1e4;
  --main-hover-color:#f3e7d9;
  --brown-color:#a67443;
  --dark-brown-color:#865d37;
  --light-brown-color:#b78854;
  --hover-brown-color:#eddac3;
  --text-color:#513922;
}

.pages{
  background-color: var(--hover-brown-color);
  width: 100%;
  height: calc(100dvh - 80px);
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li .active{
    color: var(--brown-color);
}

ul li .active span{
    color: var(--brown-color);
}

ul li .active path{
    color: var(--brown-color);
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
  background-color: var(--hover-brown-color);
}

::-webkit-scrollbar-thumb{
  background-color: var(--dark-brown-color);
  border-radius: 10px;
}

input {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease-in-out;
}

input:focus {
  border-color: var(--brown-color);
  box-shadow: 0 0 0 3px rgba(138, 90, 59, 0.15);
}

.nav{
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1000;
}

.content {
  width: 100%;
}

/*start task table */

.hide-container{
  margin-top: 10px;
  padding: 10px;
}

.hidden-tasks .title{
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  text-wrap: nowrap;
}

.MuiChip-label{
  color: white !important;
}

.MuiButtonBase-root{
  cursor: pointer !important;
}

.MuiDataGrid-scrollbarContent{
  height: 4px !important;
}

.MuiDataGrid-scrollbar {
  height: 4px !important;
}
/*end task table */